*.pro.user
*.pro.user.*
performance_inputs
performance_results
*-build-desktop-Qt_4_8_0_in_Pfad__System__*
TestDataStructures/longinttest.h
TestDataStructures/longinttest.cpp
PerformanceDataStructures/longinttest.cpp
.oldgit
