DataStructures-build-desktop-Qt_4_8_0_in_Pfad__System__Debug
DataStructures-build-desktop-Qt_4_8_0_in_Pfad__System__Release
TestDataStructures-build-desktop-Qt_4_8_0_in_Pfad__System__Debug
TestDataStructures-build-desktop-Qt_4_8_0_in_Pfad__System__Release
TestDataStructures/longinttest.cpp
#*#
*~
**/*~
**/#*#
**/**/*~
**/**/**/#*#